In [22]:
import pandas as pd

# Series
series = pd.Series([2, 8, -2, 10])
print(type(series))
print(series)

staff = {
    "name": "Leo",
    "age": 23
}

df = pd.DataFrame(staff, index=[0])
print(df)

team = {
  "names" : ["Leo", "Tom", "Peter"],
  "ages" : [23, 10, 18]
}

df_team = pd.DataFrame(team)
print(df_team)

print(df_team['names'])

print(type(df_team['names']))

df_team['gender'] = pd.Series(['M', 'M', 'M'])
print(df_team)

<class 'pandas.Series'>
0     2
1     8
2    -2
3    10
dtype: int64
  name  age
0  Leo   23
   names  ages
0    Leo    23
1    Tom    10
2  Peter    18
0      Leo
1      Tom
2    Peter
Name: names, dtype: str
<class 'pandas.Series'>
   names  ages gender
0    Leo    23      M
1    Tom    10      M
2  Peter    18      M

In [ ]:
# loc -> dataframe
df_team_2 = df_team.loc[df_team["ages"] > 15]
print(df_team_2)
print(type(df_team_2)) # DataFrame

df_team_3 = df_team.loc[df_team["names"].str.len() > 3]
print(df_team_3)

# & (and), | (or)
df_team_4 = df_team.loc[(df_team["ages"] > 15) | (df_team["names"].str.len() > 3)]
print(df_team_4)

df_team_5 = df_team.loc[df_team["names"].str.contains("o")]
print(df_team_5)

   names  ages gender
0    Leo    23      M
2  Peter    18      M
<class 'pandas.DataFrame'>
   names  ages gender
2  Peter    18      M
   names  ages gender
0    Leo    23      M
2  Peter    18      M
  names  ages gender
0   Leo    23      M
1   Tom    10      M

In [35]:
print(df_team.info())
print(df_team.describe())
print(df_team.head())

<class 'pandas.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   names   3 non-null      str
 1   ages    3 non-null      int64
 2   gender  3 non-null      str
dtypes: int64(1), str(2)
memory usage: 204.0 bytes
None
            ages
count   3.000000
mean   17.000000
std     6.557439
min    10.000000
25%    14.000000
50%    18.000000
75%    20.500000
max    23.000000
   names  ages gender
0    Leo    23      M
1    Tom    10      M
2  Peter    18      M

In [44]:
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"

df = pd.read_csv(url)
print(type(df))
# print(df.head())

# Sex = male and Name contains "Allen"
print(df[(df['Sex'] == "female") & (df['Name'].str.contains("Allen"))])

print(df['Age'].isnull().any())

# Drop Data with null age
df_drop_na_age = df.dropna(subset=["Age"])
print(len(df_drop_na_age))
print(len(df))
print(df_drop_na_age['Age'].isnull().any())

<class 'pandas.DataFrame'>
     PassengerId  Survived  Pclass                           Name     Sex  \
730          731         1       1  Allen, Miss. Elisabeth Walton  female

      Age  SibSp  Parch Ticket      Fare Cabin Embarked
730  29.0      0      0  24160  211.3375    B5        S
True
714
891
False

In [46]:
# Refill
df_for_refill = df.copy()
df_for_refill['Age'] = df_for_refill['Age'].fillna("N/A")
print(len(df_for_refill))
print(df_for_refill['Age'].isnull().any())

891
False

In [ ]:
# loc -> where
# group by

print(df['Age'].mean())
print(df['Age'].min())
print(df['Age'].max())

df_result = df.groupby('Survived')['Age'].mean()
print(df_result)
print(type(df_result))

29.69911764705882
0.42
80.0
Survived
0    30.626179
1    28.343690
Name: Age, dtype: float64
<class 'pandas.Series'>